<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
     <p>Welcome to Dashboard</p>
     <% include ./include/header %>
     <a class="nav-item nav-link" href="dashboard/list">View List</a>
    
     <% include ./include/footer %>
  </body>
</html>