<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Event Practice</title>

    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<div class="top_header" style="width:100%;">
    <div class="logo">
        <img alt="Poster" id="poster" src="/images/logo.png" style="width:300px;height:300px;float:left;">
    </div>
    <div class="menu" style="width:50%;float:right;">
        <% include ./nav %>
   </div>
</div>
<div class="banner">
   <img alt="Poster" id="poster" src="/images/banner.jpeg" style="width:100%;height:200px;">
</div>